@use '@/styles/partials/_variables.scss' as v;

.rune-rain-loader {
  position: fixed;
  top: 0;
  left: 318px; // ширина сайдбару
  width: calc(100% - 318px);
  height: 100%;
  background-color: black;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;

  .rune {
    position: absolute;
    top: -5%;
    font-size: 2rem;
    color: white;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes fall {
    to {
      transform: translateY(110vh);
      opacity: 0;
    }
  }
}
