@use '@/styles/partials/variables.scss' as v;

.rune-rain-loader {
  position: fixed;
  top: 0;
  left: 318px;
  width: calc(100% - 318px);
  height: 100%;
  background-color: black;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;

  @media (max-width: v.$maxMobile) {
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
  }

  &.collapsed {
    left: 102px;
    width: calc(100% - 102px);
    @media (max-width: v.$maxMobile) {
      left: 0;
      width: 100%;
    }
  }

  .rune {
    position: absolute;
    top: -5%;
    font-size: 2rem;
    color: white;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes fall {
    to {
      transform: translateY(110vh);
      opacity: 0;
    }
  }
}
